

Scene.Object  =  ../resources/models/buddha.obj
Scene.OctreeDepth    = 8
Scene.Width          =  200
Scene.Height         =  200
Camera.Position.x    =  0
Camera.Position.y    =  -21.65188
Camera.Position.z    =  7.43246
Camera.Rotation.x    =  82.283
Camera.Rotation.y    =  0
Camera.Rotation.z    =  0
Camera.FocalDistance =  3.5