

Scene.Object  =   ../resources/models/bunny.obj
Scene.OctreeDepth    = 8
Scene.Width          =  200
Scene.Height         =  200
Camera.Position.x    =  3.27183
Camera.Position.y    =  -3.36223
Camera.Position.z    =  3.04413
Camera.Rotation.x    =  72.417
Camera.Rotation.y    =  -8.68
Camera.Rotation.z    =  46.066
Camera.FocalDistance =  3.5