

Scene.Object  =  ../resources/models/standford_dragon.obj
Scene.OctreeDepth    = 8
Scene.Width          =  200
Scene.Height         =  200
Camera.Position.x    =  0.18167
Camera.Position.y    =  -22.43414
Camera.Position.z    =  4.39825

Camera.Rotation.x    =  90
Camera.Rotation.y    =  0
Camera.Rotation.z    =  0
Camera.FocalDistance =  3.5
