

Scene.Object         =  /opt/hdd2/workspace/projects/theia/version_3/theia_svo_sim/resources/models/utha_teapot.obj
Scene.OctreeDepth    = 8
Scene.Width          =  200
Scene.Height         =  200
Camera.Position.x    =  7.48113
Camera.Position.y    =  -6.48764
Camera.Position.z    =  5.34367
Camera.Rotation.x    =  63.559
Camera.Rotation.y    =  0.62
Camera.Rotation.z    =  46.692
Camera.FocalDistance =  35
